.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	align-content: left;
}
.card {
	height: 200px;
	width: 150px;
	border-style: solid;
	border-color: rgb(0,0,0);
	border-width: 1px;
	background: rgb(244,238,66);
	border-radius: 10px;
	float: left;
	margin: 8%;
}
h1 {
	color: rgb(2, 132, 130);
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
h2 {
	color: #ffd700;
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
h3 {
	font-style: italic;
}
#heart {
	color: pink;
}
#name {
	color: #ff0000;
}
body {
	text-align: center;
	align-items: left;
}
nav {
	background-color: #808080;
}
a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
a:hover {
	background-color: #ee5f3c;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	content: " ";
	clear: both;
	height:0;
	font-size:0;
}
footer {
	background-color: #808080;
}